mvntf-soap/src/main/resources/META-INF/wsdl/mywsdl.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.tangfan.org/mywsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="myWebService"
	targetNamespace="http://www.tangfan.org/mywsdl/">
	
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.tangfan.org/mywsdl/">
			<xsd:element name="add">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="a" type="xsd:int" />
						<xsd:element name="b" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="addResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="sum" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
<!-- 			<xsd:element name="licenseInfo" type="xsd:string"/> -->
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="add">
		<wsdl:part element="tns:add" name="parameters" />
	</wsdl:message>
	<wsdl:message name="addResponse">
		<wsdl:part element="tns:addResponse" name="parameters" />
	</wsdl:message>
<!-- 	<wsdl:message name="licenseInfo"> -->
<!-- 		<wsdl:part name="licenseInfo" element="tns:licenseInfo"/> -->
<!-- 	</wsdl:message> -->
	
	<wsdl:portType name="mywsdl">
		<wsdl:operation name="add">
			<wsdl:input message="tns:add" />
			<wsdl:output message="tns:addResponse" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="mywsdlSOAP" type="tns:mywsdl">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="add">
			<wsdl:input>
				<soap:body use="literal" />
<!-- 				<soap:header use="literal" part="licenseInfo" message="tns:licenseInfo"/> -->
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="mywsdlService">
		<wsdl:port binding="tns:mywsdlSOAP" name="mywsdlSOAP">
			<soap:address location="http://localhost:8080/ns" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
