mvntf-soap/src/main/resources/META-INF/wsdl/user_rpc.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.tangfan.org/user" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService"
	targetNamespace="http://www.tangfan.org/user">
	<!-- 
		~	rpc可以简化输入输出参数,省略了schema里面对于元素的定义
		~	注意:
		~		在绑定消息流的时候加上命名空间
		~		style改成rpc
		~		消息流中不能引用元素了，而是类型引用
		~		消息流可以绑定多个part了
	 -->
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.tangfan.org/user">
			<xsd:complexType name="users">
				<xsd:sequence minOccurs="1" maxOccurs="unbounded">
					<xsd:element name="user" type="tns:user"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="user">
				<xsd:sequence>
					<xsd:element name="username" type="xsd:string"/>
					<xsd:element name="password" type="xsd:string"/>
					<xsd:element name="nickname" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="add">
		<wsdl:part name="user" type="tns:user"/>
	</wsdl:message>
	<wsdl:message name="addResponse"/>
	
	<wsdl:message name="delete">
		<wsdl:part name="username" type="xsd:string"/>
	</wsdl:message>
	<wsdl:message name="deleteResponse"/>
	
	<wsdl:message name="list"/>
	<wsdl:message name="listResponse">
		<wsdl:part type="tns:users" name="users" />
	</wsdl:message>
	
	<wsdl:message name="login">
		<wsdl:part name="username" type="xsd:string"/>
		<wsdl:part name="password" type="xsd:string"/>
	</wsdl:message>
	<wsdl:message name="loginResponse">
		<wsdl:part name="user" type="tns:user"/>
	</wsdl:message>
	
	<wsdl:portType name="userService">
		<wsdl:operation name="add">
			<wsdl:input message="tns:add" />
			<wsdl:output message="tns:addResponse" />
		</wsdl:operation>
		<wsdl:operation name="delete">
			<wsdl:input message="tns:delete" />
			<wsdl:output message="tns:deleteResponse" />
		</wsdl:operation>
		<wsdl:operation name="list">
			<wsdl:input message="tns:list" />
			<wsdl:output message="tns:listResponse" />
		</wsdl:operation>
		<wsdl:operation name="login">
			<wsdl:input message="tns:login" />
			<wsdl:output message="tns:loginResponse" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="userServiceSOAP" type="tns:userService">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="add">
			<wsdl:input>
				<soap:body use="literal" namespace="http://www.tangfan.org/user"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" namespace="http://www.tangfan.org/user"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="delete">
			<wsdl:input>
				<soap:body use="literal" namespace="http://www.tangfan.org/user"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" namespace="http://www.tangfan.org/user"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="list">
			<wsdl:input>
				<soap:body use="literal" namespace="http://www.tangfan.org/user"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" namespace="http://www.tangfan.org/user"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="login">
			<wsdl:input>
				<soap:body use="literal" namespace="http://www.tangfan.org/user"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" namespace="http://www.tangfan.org/user"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="UserService">
		<wsdl:port binding="tns:userServiceSOAP" name="UserServicePort">
			<soap:address location="http://localhost:9090/us/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
